{% extends "layout.html" %}
{% block content %}

<div class="col-md-4">
<div class="form-group row">
  <label>Nome</label>
  <input class="form-control" type="text" name="Nome">
</div>

<div class="form-group row">
  <label>Email</label>
  <input class="form-control" type="email" name="Email">
</div>

<div class="form-group row">
  <label>Idade</label>
  <input class="form-control" type="text">
</div>


<div class="form-group row">
  <label>Usuário</label>
  <input class="form-control" type="text">
</div>

<div class="form-group row">
  <label>Senha</label>
  <input class="form-control" type="password">
</div>

<div class="text-center">
  <button type="button" class="btn btn-primary">Salvar</button>
  <input class="btn btn-primary" type="reset" value="Limpar">

</div>
</div>




{% endblock %}
