{% extends "layout.html" %}
{% block content %}

  <h3>Lista de usuários cadastrados:</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        {% for dict_item in parent_dict %}
             {% for key, value in dict_item.items() %}
              <td> {{key}}</td>
              {% endfor %}
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      <tr>
        {% for dict_item in parent_dict %}
             {% for key, value in dict_item.items() %}
              <td> {{value}}</td>
              {% endfor %}
        {% endfor %}
      </tr>
    </tbody>
  </table>
</div>





{% endblock %}
